.container{height:100%; width:100%; background-repeat:no-repeat; background-image: url("https://funart.pro/uploads/posts/2021-04/thumbs/1617314859_15-p-oboi-gori-v-tumane-16.jpg"); display:flex;}
.amazing{margin: 0 auto;margin-top: 150px;}
#calculator * {font-size: 30px;border-radius: 20px;}
#calculator table {
    border: solid 3px rgb(8, 8, 8); border-spacing: 3px;height: 320px;display:flex; 
    box-shadow: inset 0 0 0 1px #eedc00, inset 0 1px 2px rgba(255, 255, 255, 0.5), inset 0 -1px 2px rgba(0, 0, 0, 0.5);
    background: url("https://sun9-85.userapi.com/impg/c853516/v853516024/212a7c/OPeYw5KtBYM.jpg?size=604x604&quality=96&sign=c70359cea3a97831f1ae5119fdda84fb&type=album")
}
#calculator table td {border-spacing: 30px;
    box-shadow: inset 0 0 0 1px #eedc00, inset 0 1px 2px rgba(255, 255, 255, 0.5), inset 0 -1px 2px rgba(0, 0, 0, 0.5);
    background: conic-gradient(#edc800, #e3b600, #f3cf00, #ffe800, #ffe900, #ffeb00, #ffe000, #ebc500, #e0b100, #f1cc00, #fcdc00, #ffe500, #fad900, #eec200, #e7b900, #f7d300, #ffe800, #ffe300, #f5d100, #e6b900, #e3b600, #f4d000, #ffe400, #ebc600, #e3b600, #f6d500, #ffe900, #ffe90a, #edc800) content-box, linear-gradient(#f6d600, #f6d600) padding-box, radial-gradient(rgba(120, 120, 120, 0.9), rgba(120, 120, 120, 0) 70%) 50% bottom/80% 0.46875em no-repeat border-box;
}
input.display{width: 303px; height: 100px; text-align: right; background: black;color:silver }
td.buttons {margin-top: 30px; border-top: solid 1px silver;}	input[type= button] {width: 45px; height: 40px; margin: 5px;
    box-shadow: inset 0 0 0 1px #c9c9c9, inset 0 1px 2px rgba(255, 255, 255, 0.5), inset 0 -1px 2px rgba(0, 0, 0, 0.5);
    background: conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6, #d3d3d3, #d8d8d8, #d5d5d5, #d8d8d8, #d3d3d3, #c5c5c5, #c0c0c0, #bfbfbf, #d0d0d0, #d9d9d9, #d1d1d1, #c5c5c5, #c8c8c8, #d7d7d7, #d5d5d5, #cdcdcd, #c4c4c4, #d9d9d9, #cecece, #c5c5c5, #c5c5c5, #cdcdcd, #d8d8d8, #d9d9d9, #d7d7d7) content-box, linear-gradient(#d4d4d4, #d4d4d4) padding-box, radial-gradient(rgba(120, 120, 120, 0.9), rgba(120, 120, 120, 0) 70%) 50% bottom/80% 0.46875em no-repeat border-box;
}
